<h1>Wanoooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooouw</h1>

<body>
    <mat-card class="program-card" fxFlex="25">
        <mat-toolbar> Profile page </mat-toolbar>
        <mat-list>
            <mat-list-item *ngFor="let loggedWorkout of logs">
                <a loggedWorkout></a>
            </mat-list-item>
        </mat-list>
    </mat-card>
</body>
