<body>
    <h1>WorkOut Programs</h1>
    <button mat-button color="primary" (click)="createProgram()">Add new Workout</button>
    <div class = "outer" >
        <mat-expansion-panel *ngFor="let workout of workOutData.workouts"  
        #workoutPanel 
        hideToggle 
        (mouseenter)="workoutPanel.open()" 
        (mouseleave)="workoutPanel.close()"
        >
            <mat-expansion-panel-header class="program-header">
              <mat-panel-title>
                Program: {{workout.name}}
              </mat-panel-title>
              <mat-panel-description class="program-description">
                Hover to see exercises 
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-action-row>
                <button mat-button color="primary" (click)="showExercises(workout)">See Exercises</button>
                <button mat-button color="primary" (click)="createExercise(workout)">Add new Exercise</button>
                <button *ngIf="userIsLoggedIn" mat-button color="primary" (click)="addWorkoutLog(workout)">Log Workout</button>
            </mat-action-row>
        </mat-expansion-panel>
    </div>
</body>