.sidenav-container {
  height: 100%;
}

.test123{
  padding: 0;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #5e2b2b;
}

.mat-toolbar ul{
  list-style: none;
  display: flex;

  li {
    list-style: none;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: all 0.4s ease 0s;
  }
}

.active-link {
  background-color: red;
}
